<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/operators_demo/src/conditional_ops/ConditionalOpsDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="conditional_ops.ConditionalOpsDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="operators_demo"/>
</launchConfiguration>
